.mycarousel img{
    height: 500px;
}

.about img{
    height: 100%;
    width: 300px;
}

.nav-item{
    font-size: 15px;
}

.blog-container h1{
 font-size: 35px;
}

.nav-item i{
    color:grey ;
}


.address:hover{
    cursor: pointer;
    box-shadow: 0 1px 7px 1px ;
    padding: 15px;
    border-radius: 7px;
}